.git
.gitignore
.claude

node_modules
apps/*/node_modules

apps/web/.svelte-kit
apps/web/build

apps/api/cache
apps/api/tts/bin
apps/api/tts/models
apps/api/tts/tmp

.env
apps/api/.env
apps/web/.env

*.log
.DS_Store
Thumbs.db

docker
Makefile
*.md
